name: Publish and Release

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ["package.json", ".github/workflows/**"]

jobs:
  test:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm test

  build:
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm run build --declaration
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  publish_npm:
    needs: [test, build]
    runs-on: blacksmith-2vcpu-ubuntu-2204
    continue-on-error: true
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - run: |
          version=$(node -p "require('./package.json').version")
          package=$(node -p "require('./package.json').name")
          npm unpublish $package@$version --force || true
          npm publish --access public --registry https://npm.pkg.github.com --force
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish_npm_to_github:
    needs: [test, build]
    runs-on: blacksmith-2vcpu-ubuntu-2204
    continue-on-error: true
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - run: |
          version=$(node -p "require('./package.json').version")
          package=$(node -p "require('./package.json').name")
          npm unpublish $package@$version --force || true
          npm publish --access public --registry https://npm.pkg.github.com --force
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: [test, build]
    runs-on: blacksmith-2vcpu-ubuntu-2204
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Get version
        id: version
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT
      - uses: softprops/action-gh-release@v2.2.1
        with:
          files: dist/**
          tag_name: v${{ steps.version.outputs.version }}
          body: "Release v${{ steps.version.outputs.version }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
